@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400&display=swap");

/*Global HTML CSS Settings Start*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Crimson", "Crimson Pro", Calibri, "Lato", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.pink {
  color: pink;
}
.gold {
  color: gold;
}
.blue {
  color: #535399;
  padding: 0 1rem;
}
.text-center {
  text-align: center;
}
/*Global HTML CSS Settings End*/

.container {
  width: 1200px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.hero {
  background: #8568ff;
  width: 100%;
  height: 527px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.hero_text_sec {
  position: absolute;
  left: 19.48%;
  right: 56.3%;
  top: 17.99%;
  bottom: 45.93%;
}
.hero_text {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
}
.hero_fan {
  position: absolute;
  left: 57.08%;
  right: 11.94%;
  top: 19.71%;
  bottom: -42.68%;
  height: 648.0438232421875px;
  width: 594.7930297851562px;
  left: 806px;
  top: 103.875244140625px;
  border-radius: 8px;
}
.hero_fan_image {
  position: absolute;
  left: 4%;
  right: 25.99%;
  top: 19.71%;
  bottom: 25.35%;
  background: url(hanen-souhail-F5EO6OD9kBo-unsplash\ 1.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}
.hero_fan_rect1 {
  position: absolute;
  bottom: 25.99%;
  left: 0%;
  right: 85.79%;
  top: 25.64%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  transform: matrix(0.99, -0.1, 0.11, 1, 0, 0);
}
.hero_fan_rect2 {
  position: absolute;
  left: 66.05%;
  right: 21.03%;
  top: 25.16%;
  bottom: 25.5%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: matrix(0.99, 0.1, -0.11, 1, 0, 0);
}
/* Product */

.col-3 {
  width: 25%;
}
.col-3 > h4 {
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
}
.col-3 > ul {
  font-size: 1.4rem;
  text-align: left;
  vertical-align: middle;
}
.col-3 ul li:hover {
  color: gray;
}
.col-9 {
  width: 75%;
}
.product_shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: auto;
}
.product_card {
  width: 921px;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: auto;
  margin-bottom: 10px;
}

.image {
  width: 35%;
}
.image div {
  text-align: center;
  vertical-align: middle;
  padding-top: 13px;
}
.image_add {
  width: 50%;
  height: 50%;
  /* background: url(Rectangle32.png); */
  border-radius: 12px;
  position: relative;
  top: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  margin: 0 auto;
  cursor: pointer;
}
.desc {
  width: 80%;
  margin: 1rem 0;
}
.title {
  font-size: 1.8rem;
  color: #111c85;
  cursor: pointer;
}
.price_rate {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}
.price {
  font-size: 1.5rem;
  color: #111c85;
  padding-top: 7px;
}

.desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #9295aa;
}
.icons {
  margin-left: -18px;
}
.icons span svg {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fbfbfb;
  cursor: pointer;
}
.categoryItems {
  font-size: 1.3rem;
  color: #7e81a2;
}

.footer {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #0d0e43;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
}
footer .footer-1 {
  align-items: center;
}
.footer-2 > h2,
.footer-3 > h2,
.footer-4 > h2 {
  color: white;
  margin-bottom: 5px;
}
.footer-2 ul li a,
.footer-3 ul li a {
  color: #8a8fb9;
  font-size: 1rem;
  margin-left: -10px;
}
.footer-4 span {
  color: white;
  width: 20px;
  margin: 5px;
}
.icon-fonts {
  font-size: 3rem;
  color: white;
  align-items: center;
  margin: 3.8rem 0;
}
.purple-color {
  color: #8568ff;
}
.card {
  background: linear-gradient(
    180deg,
    rgb(223, 219, 255),
    rgba(234, 229, 255, 0) 20.71%
  );
}

.cardDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: auto;
  width: 100%;
}
.cardDetail_product {
  width: 240px;
}
.cardDetail_price {
  width: 130px;
}
.cardDetail_quantity {
  width: 130px;
}
.cardDetail_total {
  width: 130px;
}
.cardTotal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: auto;
}
.pageTitle {
  width: 100%;
}
.pageTitle > h1 {
  display: block;
  width: 350px;
  margin: 2rem 0;
}

.cardItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 776px;
}
.cardImage {
  width: 60px;
}
.pcimage {
  display: inline-block;
  width: 250px;
  text-align: left;
}
.pcprice {
  display: block;
  width: 150px;
}
.pcquantity {
  display: block;
  width: 150px;
}
.pctotal {
  display: block;
  width: 140px;
}
.cardItems ul div {
  display: inline-block !important;
}
.cardTotal {
  background-color: #e8e6f1;
  width: 371px;
  height: 284px;
  border-radius: 10px;
}
.col-3 h3 {
  font-size: 1.25rem;
  color: #1d3178;
  margin-bottom: 1rem;
  text-align: center;
  display: block;
  width: 371px;
}
.btn {
  padding: 10px 0;
  margin: 1rem 0;
  border-radius: 8px;
}
.btn-card {
  background-color: #19d16f;
  border-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 312px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}
.card_check_text {
  color: #8a91ab;
}
.card_subtotal :first-child {
  width: 100px;
  color: #1d3178;
  font-size: 1.25rem;
  display: inline-block;
  text-align: left;
}
.card_subtotal :nth-child(2) {
  width: 100px;
  color: #1d3178;
  font-size: 1.25rem;
  display: inline-block;
  text-align: right;
}
.card_total :first-child {
  width: 100px;
  color: #1d3178;
  font-size: 1.25rem;
  display: inline-block;
  text-align: left;
}
.card_total :nth-child(2) {
  width: 100px;
  color: #1d3178;
  font-size: 1.25rem;
  display: inline-block;
  text-align: right;
}
hr {
  width: 55%;
  margin: 0 auto;
  margin-top: -1.5rem;
  border-top: 2px solid #c3c3c3;
}
